#about
	%section#section-7.testimonials-section.bg-dark.angle-right-top.angle-left-bottom.bg-image-parallax
		%span.cover.bg-transparent-9-5-dark
		.container
			.row
				.col-md-12
					.heading.heading-lg.heading-hover.text-white.wow.fadeIn
						%span.heading-title-ghost Quiénes Somos
						%h2.heading-title Quiénes Somos
						%hr.hr-width-3.hr-5x.border-main/
		.container
			.row.wow.fadeIn{"data-wow-delay" => "0.3s"}
				.col-md-12
					%p
						Una agencia digital con el objetivo primario de llevar la tecnología a todos los niveles
						corporativos para sus aprovechamiento económico y financiero.
					%p
						Creamos historias de éxito a través de la correcta armonía entre estrategia de negocios y uso de las nuevas
						tecnologías para llevarlos a otro nivel dentro y fuera de la internet.

					%p
						No importa en que país te encuentres, nuestra frontera no está dibujada.
