%section.call-to-action-section.angle-left-bottom.bg-dark.bg-pattern{style: "background-image: url(assets/img/patterns/ptn-2.png);"}
	%span.cover.bg-transparent-4-5-dark
	.container
		.row.wow.fadeIn
			.col-md-8.padding-right-40
				%h2.call-to-action-title.text-gray-2 ¿Por qué contratarnos?
				%p.lead.call-to-action-text.text-gray
					Somos expertos en la creación de extensiones de negocios en la web,
					%br
					con el propósito de aumentar tus oportunidades de trabajo.
				%p.call-to-action-text.lead.text-gray.margin-top-30
					%strong Cool / Innovative / Creative</strong


			.col-md-4.text-center
				%a.btn.btn-primary-bordered.btn-xlg.btn-block{href: "briefing.html", target: "_blank"}
					%i.fa.fa-shopping-cart
						Comencemos a Trabajar

				-# %a.small.text-gray{href: "#"}
				-# 	Or Learn More..
				-# 	%i.fa.fa-graduation-cap
