%section#section-10.clients-section.angle-left-bottom{style: "background: #fff !important"}
	.container
		.row
			.col-md-12

				.heading.heading-lg.heading-center.heading-hover.wow.fadeIn
					%span.heading-title-ghost Nuestros Clientes
					%h2.heading-title Nuestros Clientes

					%hr.hr-width-2.hr-5x.border-main/

					%p.heading-tescription.lead.max-width-800.margin-auto
						Hemos tenido el honor de trabajar con estas grandiosas empresas.

			.col-md-12.margin-top-60.wow.fadeIn{"data-wow-delay" => "0.3s"}

				.owl-carousel.clients-carousel.dots-outside{"data-items" => "5", "data-margin" => "40", "data-mobile-landscape" => "2", "data-mobile-portrait" => "1", "data-tablet-landscape" => "4", "data-tablet-portrait" => "3"}

					.cc-item
						%a.client{:href => "#", :target => "_blank"}
							%img{:alt => "image", :src => "assets/img/clients/client-1.png"}/

					.cc-item
						%a.client{:href => "#", :target => "_blank"}
							%img{:alt => "image", :src => "assets/img/clients/client-1.png"}/

					.cc-item
						%a.client{:href => "#", :target => "_blank"}
							%img{:alt => "image", :src => "assets/img/clients/client-1.png"}/

					.cc-item
						%a.client{:href => "#", :target => "_blank"}
							%img{:alt => "image", :src => "assets/img/clients/client-1.png"}/

					.cc-item
						%a.client{:href => "#", :target => "_blank"}
							%img{:alt => "image", :src => "assets/img/clients/client-1.png"}/

					.cc-item
						%a.client{:href => "#", :target => "_blank"}
							%img{:alt => "image", :src => "assets/img/clients/client-1.png"}/

					.cc-item
						%a.client{:href => "#", :target => "_blank"}
							%img{:alt => "image", :src => "assets/img/clients/client-2.png"}/

					.cc-item
						%a.client{:href => "#", :target => "_blank"}
							%img{:alt => "image", :src => "assets/img/clients/client-3.png"}/

					.cc-item
						%a.client{:href => "#", :target => "_blank"}
							%img{:alt => "image", :src => "assets/img/clients/client-4.png"}/

					.cc-item
						%a.client{:href => "#", :target => "_blank"}
							%img{:alt => "image", :src => "assets/img/clients/client-5.png"}/

					.cc-item
						%a.client{:href => "#", :target => "_blank"}
							%img{:alt => "image", :src => "assets/img/clients/client-6.png"}/

					.cc-item
						%a.client{:href => "#", :target => "_blank"}
							%img{:alt => "image", :src => "assets/img/clients/client-7.png"}/

					.cc-item
						.team-box.team-box-hover.team-box-rounded
							.team-image
								%a{:href => "briefing.html"}
									%img{:alt => "Henry Harrison", :src => "assets/img/team/staff-5.jpg"}/
							.team-info.text-center
								%h4.team-info-title Tu logo
								-# %p.team-info-text Designer Wanted
								-# %a.btn.btn-primary.btn-rounded.btn-sm{:href => ""} Read More!
