#cta
	%section.call-to-action-section.angle-left-bottom.bg-dark.bg-pattern{style: "background-image: url(assets/img/slice-patterns.png); background-attachment: fixed;"}
		%span.cover.bg-transparent-4-5-dark
		.container
			.row.wow.fadeIn
				.col-lg-8.padding-right-40
					%p.lead.call-to-action-text.text-gray
						Somos expertos en dar presencia a los negocios en Internet,
						con el propósito de aumentar tus oportunidades de ventas.
						Creemos en el poder de la tecnología para transformar a las empresas.
					%p.call-to-action-text.lead.text-gray.margin-top-30
						-# %strong Cool / Innovative / Creative</strong


				.col-lg-4.text-center
					%a.btn.btn-primary-bordered.btn-xlg.btn-block.rounded-2x{:href => "briefing.html"}
						-# %i.fa.fa-shopping-cart
						Comencemos a trabajar


				.col-md-4.team-box.team-box-hover
					%a{:href => "web_service.html"}
						.team-image
							%img.img-responsive{src: "assets/img/service-web-desing.jpg"}
				.col-md-4.team-box.team-box-hover
					%a{:href => "social_service.html"}
						.team-image
							%img.img-responsive{src: "assets/img/service-mkt.jpg"}
				.col-md-4.team-box.team-box-hover
					%a{:href => "store_service.html"}
						.team-image
							%img.img-responsive{src: "assets/img/service-e-com.jpg"}
