#footer.angle-left-top
	.container.padding-top-60
		.row
			.col-xs-12.col-md-4#column-1
				%h3 Términos y condiciones
				%ul#list-footer
					%li
						%a{href: "#"} Políticas de servicio
					%li
						%a{href: "#"} Políticas de privacidad
					%li
						%a{href: "#"} Políticas de reembolsos y cancelaciones
					%li
						%a{href: "#"} Políticas de cookies
					%li
						%a{href: "#"} Políticas de redes sociales
			.col-xs-12.col-md-4#logo-footer
				%center
					= Haml::Engine.new(File.read("app/partials/_brand.haml")).render
				%center.icon-rrss
					%a{href: "#"}
						%i.fa.fa-behance.fa-lg
					%a{href: "#"}
						%i.fa.fa-github-alt.fa-lg
					%a{href: "#"}
						%i.fa.fa-instagram.fa-lg
					%a{href: "#"}
						%i.fa.fa-google-plus.fa-lg
					%a{href: "#"}
						%i.fa.fa-facebook-official.fa-lg
					%a{href: "#"}
						%i.fa.fa-linkedin.fa-lg
			.col-xs-12.col-md-4#column-3
				%br
				%p
					%a{:href => "mailto:comercial@slicegroup.xyz"}
						%i.fa.fa-envelope-o
						comercial@slicegroup.xyz
				%p
					%a{href: "mailto:soporte@slicegroupl.xyz"}
						%i.fa.fa-envelope-o
						soporte@slicegroupl.xyz
				%p
					%i.fa.fa-phone
					&nbsp;+58 269 4166481 
				%a.btn.btn-success-bordered.btn-sm.btn-block.rounded-2x{:href => "whatsapp://send?phone=584246298536&text=%C2%A1Hola!%20estoy%20interesado%20en%20un%20proyecto%20web", :target => "_blank"}
					%i.fa.fa-whatsapp.fa-lg
					Escríbenos por whatsApp
				-# %p.whatsapp
				-# 	%a	
				-# 		%i.fa.fa-whatsapp.fa-lg
				-# 		+58 424 6298536				
			.col-xs-12.col-md-4#column-4
				%center
					%h3 Terminos y condiciones					
					%span.legal
						%a{href: "#"} Políticas de servicio
					%span.legal
						%a{href: "#"} Políticas de privacidad
					%span.legal
						%a{href: "#"} Políticas de cookies
					%span.legal
						%a{href: "#"} Políticas de redes sociales
					%span.legal
						%a{href: "#"} Políticas de reembolsos y cancelaciones
					
	%center.footer-dark
		%p
			© 2018 Slice Group. All rights reserved. 
