#footer
	%center
		%p
			%a{href: "mailto:support@mail.com"}
				%i.fa.fa-envelope-o
				info@slicegroup.xyz
		%p
			%i.fa.fa-phone
			&nbsp;+58 269 2455.55.55
		%p.whatsapp
			%a	
				%i.fa.fa-whatsapp.fa-lg
				WhatsApp
				
	%center.footer-dark
		%p
			© 2017 Slice Group. All rights reserved. 
