!!!
%html{lang: "es"}
  %head
    %meta{charset: "UTF-8"}
    %title Slice Group

    %link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "Slice Group", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto+Mono:400,300,500,700", :rel => "stylesheet", :type => "text/css"}/
    %link{rel: "stylesheet", href:"assets/css/main.css"}
