#how
	%section#section-1.about-section{style: "background: #fff"}
		.container
			.row
				.col-md-12
					.heading.heading-lg.heading-hover.wow.fadeIn.heading-center
						%span.heading-title-ghost Cómo lo hacemos
						%h2.heading-title Cómo lo hacemos

						%hr.hr-width-3.hr-5x.border-main

						%p.heading-tescription.lead
							Contamos con un método de trabajo comprobado que nos permite ofrecer soluciones efectivas a
							las necesidades de nuestros clientes. Cada proyecto es único y especial por lo que damos especial
							énfasis en la personalización de nuestro servicio.
							-# %a{:href => "#"} Read More...

		.container.margin-top-20
			.row.wow.fadeIn{"data-wow-delay" => "0.3s"}
				.col-sm-6.col-md-3
					.info-box.info-box-1
						%span.info-box-icon
							%img{src: "assets/img/icon-analisys.svg"}
						.info-box-info
							%h4.info-box-title Diagnóstico
							%p.info-box-text
								Nos conocemos y preparamos una oferta especial para tí.

				.col-sm-6.col-md-3
					.info-box.info-box-1
						%span.info-box-icon
							%img{src: "assets/img/icon-planning.svg"}
						.info-box-info
							%h4.info-box-title Planeación
							%p.info-box-text
								Definimos fechas y cronogramas de entrgas.

				.col-sm-6.col-md-3
					.info-box.info-box-1
						%span.info-box-icon
							%img{src: "assets/img/icon-creation.svg"}
						.info-box-info
							%h4.info-box-title Creación
							%p.info-box-text
								Ejecutamos nuestra propuesta adaptada para tí.

				.col-sm-6.col-md-3
					.info-box.info-box-1
						%span.info-box-icon
							%img{src: "assets/img/icon-result.svg"}
						.info-box-info
							%h4.info-box-title Resultado
							%p.info-box-text
								Entregamos nuestro trabajo para tí y garantizamos que quedes satisfecho.
