%section#intro.full-height
	.container{style: "position:relative"}
		.vertical-align-center.horisontal-align-center
			#cont-texto
				%p#grande Hola, somos Slice Group
				%p Agencia Digital desde el 2012

	%video.hidden-xs{autoplay: "true", loop: "true", poster: "assets/img/video.jpg"}
		-#%source{src: "assets/videos/video.webm", type: "video/webm"}
		%source{src: "assets/videos/video.mp4", type: "video/mp4"}
		Tu navegador no soporta video con HTML5