%section#intro.full-height
	.intro-inner
		%span.cover.bg-transparent-2-dark.bg-transparent-gradient-2
		.intro-caption.vertical-align-center.text-center.text-white
			%h1.superh1 Hola, Somos Slice Group
			%p.intro-description.typed

	%video.hidden-xs{autoplay: "true", loop: "true", poster: "assets/img/video.jpg"}
		-#%source{src: "assets/videos/video.webm", type: "video/webm"}
		%source{src: "assets/videos/video.mp4", type: "video/mp4"}
		Tu navegador no soporta video con HTML5
	.trama
