!!! XML
%svg#svgabout{:height => "61.523mm", :version => "1.1", :viewbox => "0 0 399.99999 217.99662", :width => "112.89mm", :xmlns => "http://www.w3.org/2000/svg", "xmlns:cc" => "http://creativecommons.org/ns#", "xmlns:dc" => "http://purl.org/dc/elements/1.1/", "xmlns:rdf" => "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
	%metadata
		%rdf
			%work{"rdf:about" => ""}
				%format image/svg+xml
				%type{"rdf:resource" => "http://purl.org/dc/dcmitype/StillImage"}
				%title
	%g{:transform => "translate(-171.31 -417.58)"}
		%path#isotipo{:d => "m 384.65705,476.55268 c -1.50828,3.631 -3.01655,7.26201 -4.52483,10.89301 -16.10383,-6.33402 -33.78332,-10.26239 -51.06219,-7.04556 -8.91064,1.44151 -17.62096,3.96334 -26.07164,7.10999 -1.70217,-4.14444 -3.82454,-8.15286 -5.25756,-12.38442 2.65962,-4.04489 8.96804,-4.809 13.27536,-7.13971 20.52539,-7.57947 44.1862,-7.62931 64.20244,1.60339 2.7409,2.2097 10.09098,2.4279 9.43842,6.9633 z m -43.13384,98.60063 c -11.84403,-26.94539 -23.68806,-53.89079 -35.53209,-80.83618 16.25693,-6.00713 34.12365,-9.98683 51.36045,-6.0286 6.80908,1.39427 13.46161,3.49012 19.93271,6.01394 -11.19046,26.9428 -22.38091,53.88559 -33.57137,80.82839 -0.33741,0.95923 -1.8312,0.97112 -2.1897,0.0224", "inkscape:connector-curvature" => "0", :style => "fill:#c15010;fill-opacity:1;fill-rule:nonzero;stroke:none;"}
