.pull-right#navbar
  %ul
    %li
      %a.sm-scroll{href: "#intro"}
        Inicio
    %li
      %a.sm-scroll{href: "#services"}
        ¿Que ofrecemos?
    %li
      %a.sm-scroll{href: "#how"}
        ¿Cómo lo hacemos?
    %li
      %a.sm-scroll{href: "#about"}
        ¿Quiénes Somos?
    %li
      %a.sm-scroll{href: "/portfolio.html"}
        Casos de Éxito

    %li
      %a{href: "blog.html"}
        Blog
