%section.prices-section{id: "section-4", style: "background: #fff"}
	.prices.wow.fadeIn{"data-wow-delay" => "0.6s"}
		.container
			.owl-carousel.prices-carousel.dots-outside.nav-outside-top{"data-items" => "4", "data-margin" => "15", "data-nav" => "true", "data-tablet-landscape" => "3", "data-tablet-portrait" => "3", "data-mobile-landscape" => "2", "data-mobile-portrait" => "1"}
				.price-box.price-box-dark
					.pr-box.price-heading
						%i.fa.fa-plug
						%h3.price-title Starter
						-# .price-heading-text Light Membership

					.pr-box.price-box-price
						.price
							%span.price-currency $
							69
						.price-tenurePer Month

					.pr-box.price-features
						%ul.list-unstyled
							%li 3 secciones estáticas
							%li Formulario de contacto
							%li Hosting
							%li 3 correos corporativos

					.pr-box.price-footer
						%a.btn.btn-white-bordered.btn-rounded{href:"#"} Order Now

				.price-box.price-box-dark
					.pr-box.price-heading
						%i.fa.fa-gavel.fa-2x
						%h3.price-title Enterprise
						-# .price-heading-textBasic Membership

					.pr-box.price-box-price
						.price
							%span.price-currency $
							99
						.price-tenurePer Month

					.pr-box.price-features
						%ul.list-unstyled
							%li Keppler Starter
							%li 3 secciones estáticas
							%li 3 secciones administrables
							%li Hosting
							%li 5 correos corporativos

					.pr-box.price-footer
						%a.btn.btn-white-bordered.btn-rounded{href:"#"} Order Now

				.price-box.price-box-dark
					.pr-box.price-heading
						%i.fa.fa-plug
						%h3.price-title Corporative
						-# .price-heading-text Light Membership

					.pr-box.price-box-price
						.price
							%span.price-currency $
							69
						.price-tenurePer Month

					.pr-box.price-features
						%ul.list-unstyled
							%li 3 secciones estáticas
							%li 3 secciones administrables
							%li 2 formularios especializados
							%li Blog corporativo

					.pr-box.price-footer
						%a.btn.btn-white-bordered.btn-rounded{href:"#"} Order Now

				.price-box.price-box-dark
					.pr-box.price-heading
						%i.fa.fa-plug
						%h3.price-title Store
						-# .price-heading-text Light Membership

					.pr-box.price-box-price
						.price
							%span.price-currency $
							69
						.price-tenurePer Month

					.pr-box.price-features
						%ul.list-unstyled
							%li Carritos de compras
							%li Pasarela de pago
							%li Certificado SSL
							%li 27/7 Support

					.pr-box.price-footer
						%a.btn.btn-white-bordered.btn-rounded{href:"#"} Order Now
