%script{src: "assets/js/jquery.min.js"}
%script{src: "assets/js/typed.js"}
%script{src: "assets/js/bootstrap.js"}
%script{src: "assets/js/main.js"}
%script{src: "assets/js/theme.js"}
%script{src: "assets/js/custom.js"}
%script{src: "assets/js/wow.js"}
%script{src: "assets/js/jquery.magnific-popup.min.js"}
%script{src: "assets/js/jquery.mb.YTPlayer.js"}
%script{src: "assets/js/owl.carousel.js"}
%script{src: "assets/js/imagesloaded.pkgd.min.js"}
%script{src: "assets/js/isotope.pkgd.min.js"}
%script{src: "assets/js/jquery.easing.min.js"}
%script{src: "assets/js/owl.carousel.min.js"}
%script{src: "assets/js/jquery.magnific-popup.min.js"}
-# %script{src: "https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"}
-#%script{src: "https://use.fontawesome.com/4d625cd5fa.js"}
