#services
	%section#section-7.angle-left-top.angle-left-bottom.testimonials-section.bg-dark.bg-image-parallax{:style => "height: 800px;"}
		%span.cover.bg-transparent-9-5-dark
		.container
			.row
				.col-md-12
					.heading.heading-lg.heading-hover.text-white.wow.fadeIn
						%span.heading-title-ghost Servicios
						%h2.heading-title Servicios
						%hr.hr-width-3.hr-5x.border-main
		.container
			.row.wow.fadeIn{"data-wow-delay" => "0.3s"}
				.col-md-4
					.service-card{style: "background-image: url(assets/img/service_web.jpg);"}
				.col-md-4
					.service-card.team-box-hover{style: "background-image: url(assets/img/service_marketing.jpg);"}
				.col-md-4
					.service-card.team-box-hover{style: "background-image: url(assets/img/E-COM.jpg);"}
