#services
	%section#section-7.angle-left-top.angle-left-bottom.testimonials-section.bg-dark.bg-image-parallax{:style => "height: 800px;"}
		%span.cover.bg-transparent-9-5-dark
		.container
			.row
				.col-md-12
					.heading.heading-lg.heading-hover.text-white.wow.fadeIn
						%span.heading-title-ghost Servicios
						%h2.heading-title Servicios
						%hr.hr-width-3.hr-5x.border-main
		.container
			.row.wow.fadeIn{"data-wow-delay" => "0.3s"}
				.col-md-4.team-box.team-box-hover
					%a{:href => "web_service.html"}
						.team-image
							%img.img-responsive{src: "assets/img/service-web-desing.jpg"}
				.col-md-4.team-box.team-box-hover
					%a{:href => "social_service.html"}
						.team-image
							%img.img-responsive{src: "assets/img/service-mkt.jpg"}
				.col-md-4.team-box.team-box-hover
					%a{:href => "store_service.html"}
						.team-image
							%img.img-responsive{src: "assets/img/service-e-com.jpg"}
