#sidebar
	#close-sidebar
		%i.fa.fa-angle-right

	%ul
		%li
			%a.sm-scroll{href: "#intro"}
				Inicio
		%li
			%a.sm-scroll{href: "#services"}
				¿Que ofrecemos?
		%li
			%a.sm-scroll{href: "#how"}
				¿Cómo lo hacemos?
		%li
			%a.sm-scroll{href: "#about"}
				¿Quiénes Somos?
		%li
			%a.sm-scroll{href: "#"}
				Casos de Éxito

		%li
			%a{href: "blog.html"}
				Blog

	.sidebar-footer
		%center
			.btn.btn-default-bordered
				Contact
			.social
				%i.fa.fa-facebook
				%i.fa.fa-twitter
				%i.fa.fa-linkedin
				%i.fa.fa-instagram
				%i.fa.fa-github
			%p.copyright
				Copyright
				%i.fa.fa-copyright
				Slice Grop
