#body-content
	%section#top-slidingbar-wrapper.slidingbar-fixed
		#top-slidingbar
			.container
				.row
					.col.col-md-4
						%h4.top-slidingbar-heading.text-gray-2 ¿Qué es Slice Group?
						%hr.hr-width-2.hr-double.margin-top-15/
						%p.small
							Somos una agencia especializada en productos digitales, creemos en el poder de la tecnología
							para transformar los negocios, desde estrategias de marketing, páginas web y soluciones a medida.

					.col.col-md-4
						%h4.top-slidingbar-heading.text-gray-2 Contactos
						%hr.hr-width-1.hr-double.margin-top-15/
						%ul.list-unstyled.small
							%li
								%i.fa.fa-phone
								+58 416-6481
							%li
								%i.fa.fa-whatsapp
								+58 424-6298536
							%li
								%i.fa.fa-envelope-o
								-# Correo principal:
								%a{:href => "mailto:support@mail.com"} negocios@slicegroup.xyz
							%li
								%i.fa.fa-envelope-o
								-# Soporte:
								%a{:href => "mailto:support@mail.com"} soporte@slicegroupl.xyz

					.col.col-md-4
						%h4.top-slidingbar-heading.text-gray-2 Our Instagram
						%hr.hr-width-1.hr-double.margin-top-15/

						%ul.thumb-list.col-5.gutter-3
							%li
								%a.thumb-list-item.bg-image{:href => "https://www.instagram.com", :style => "background-image: url(assets/img/misc/small/img-1.jpg);", :target => "_blank"}
							%li
								%a.thumb-list-item.bg-image{:href => "https://www.instagram.com", :style => "background-image: url(assets/img/misc/small/img-2.jpg);", :target => "_blank"}
							%li
								%a.thumb-list-item.bg-image{:href => "https://www.instagram.com", :style => "background-image: url(assets/img/misc/small/img-3.jpg);", :target => "_blank"}
							%li
								%a.thumb-list-item.bg-image{:href => "https://www.instagram.com", :style => "background-image: url(assets/img/misc/small/img-4.jpg);", :target => "_blank"}
							%li
								%a.thumb-list-item.bg-image{:href => "https://www.instagram.com", :style => "background-image: url(assets/img/misc/small/img-5.jpg);", :target => "_blank"}
							%li
								%a.thumb-list-item.bg-image{:href => "https://www.instagram.com", :style => "background-image: url(assets/img/misc/small/img-6.jpg);", :target => "_blank"}
							%li
								%a.thumb-list-item.bg-image{:href => "https://www.instagram.com", :style => "background-image: url(assets/img/misc/small/img-7.jpg);", :target => "_blank"}
							%li
								%a.thumb-list-item.bg-image{:href => "https://www.instagram.com", :style => "background-image: url(assets/img/misc/small/img-8.jpg);", :target => "_blank"}
							%li
								%a.thumb-list-item.bg-image{:href => "https://www.instagram.com", :style => "background-image: url(assets/img/misc/small/img-9.jpg);", :target => "_blank"}
							%li
								%a.thumb-list-item.bg-image{:href => "https://www.instagram.com", :style => "background-image: url(assets/img/misc/small/img-11.jpg);", :target => "_blank"}

		.top-slidingbar-trigger-wrapper
			%span.top-slidingbar-trigger +

	%header#header-wrap
		#header.header-md.show-hide-on-scroll.header-dark.transparent
			#scrollspy.container.header-container
				.logo.font-alter-1
					%a{:href => "index.html"}
						= Haml::Engine.new(File.read("app/partials/_brand.haml")).render
				.pull-right#hamburguer
					%i.fa.fa-navicon#sidebar-trigger
				= Haml::Engine.new(File.read("app/partials/_navbar.haml")).render
				= Haml::Engine.new(File.read("app/partials/_sidebar.haml")).render
