= Haml::Engine.new(File.read("app/partials/_head.haml")).render
%body{"data-spy" => "scroll", "data-target" => "#scrollspy"}
  -# = Haml::Engine.new(File.read("app/partials/_preloader.haml")).render
  -# = Haml::Engine.new(File.read("app/partials/_header.haml")).render

  #blog
    .container
      %h1.margin-top-20 Nuestro Blog
      .row
        .col-xs-12.col-sm-6.col-md-8
          %a{:href => "/blog_post.html"}
            %img.img-responsive{src: "assets/img/blog/blog-1.jpg"}
          %h2 Nuevas ideas para la cria de gárgolas
          %p
            Todas estas borrascas que nos suceden son señales de que presto ha de serenar el tiempo y
            han de sucedernos bien las cosas; porque no es posible que el mal ni el bien sean durables...
          %p.post-date
            %i.fa.fa-calendar-o
            Ene 15, 2018
          %p.read-more.text-right
            %a{href: "blog_post.html"}Leer más...
          .row
            .col-xs-12.col-md-6
              %a{:href => "/blog_post.html"}
                %img.img-responsive{src: "assets/img/blog/blog-2.jpg"}
              %h2 Slice Group analiza la compra de Google
              %p
                Así que, no debes congojarte por las desgracias que a mí me suceden, pues a ti no te cabe parte de ellas.
                Y, viéndole don Quijote de aquella manera, con muestras de tanta tristeza...
              %p.post-date
                %i.fa.fa-calendar-o
                Ene 14, 2018
              %p.read-more.text-right
                %a{href: "blog_post.html"}Leer más...
            .col-xs-12.col-md-6
              %a{:href => "/blog_post.html"}
                %img.img-responsive{src: "assets/img/blog/blog-3.jpg"}
              %h2 Una cocina limpia en la oficina aumenta la productividad
              %p
                Y, viéndole don Quijote de aquella manera, con muestras de tanta tristeza, le dijo: Sábete, Sancho,
                que no es un hombre más que otro si no hace más que otro....
              %p.post-date
                %i.fa.fa-calendar-o
                Ene 13, 2018
              %p.read-more.text-right
                %a{href: "blog_post.html"}Leer más...
            .col-xs-12.col-md-6
              %a{:href => "/blog_post.html"}
                %img.img-responsive{src: "assets/img/blog/blog-4.jpg"}
              %h2 Marvel predice el futuro de Venezuela
              %p
                Santiago Rivera fue un dictador militar que tomó el control de la nación sudamericana de San Diablo
                mediante un golpe militar. Debido a la lucha, hubo una escasez de asistencia médica en San Diablo....
              %p.post-date
                %i.fa.fa-calendar-o
                Ene 13, 2018
              %p.read-more.text-right
                %a{href: "blog_post.html"}Leer más...
            .col-xs-12.col-md-6
              %a{:href => "/blog_post.html"}
                %img.img-responsive{src: "assets/img/blog/blog-5.jpg"}
              %h2 Muy lejos más allá
              %p
                Muy lejos, más allá de las montañas de palabras, alejados de los países de las vocales y
                las consonantes, viven los textos simulados, Viven aislados en casas de letras, en la costa de la semántica,
                un gran océano de lenguas. Un riachuelo llamado Pons fluye por su pueblo y los abastece con las normas
                necesarias...
              %p.post-date
                %i.fa.fa-calendar-o
                Ene 12, 2018
              %p.read-more.text-right
                %a{href: "blog_post.html"}Leer más...
        .col-xs-12.col-sm-6.col-md-4
          %a{:href => "/blog_post.html"}
            %img.img-responsive{src: "assets/img/blog/blog-6.jpg"}
          %h2 Sinergéticamente monetizar nichos funcionales después de las potencialidades sin fisuras
          %p
            Desarrollar globalmente procedimientos de prueba oportunos a través de procesos flexibles.
            Facilitar de manera creíble sistemas efectivos con vectores estratégicos de calidad ...
          %p.post-date
            %i.fa.fa-calendar-o
            Ene 11, 2018
          %p.read-more.text-right
            %a{href: "blog_post.html"}Leer más...
          %a{:href => "/blog_post.html"}
            %img.img-responsive{src: "assets/img/blog/blog-7.jpg"}
          %h2 Penas del joven Werther
          %p
            Estoy solo, y me felicito de vivir en este país, el más a propósito para almas como la mía, soy tan dichoso,
            mi querido amigo, me sojuzga de tal modo la idea de reposar, que no me ocupo de mi arte...
          %p.post-date
            %i.fa.fa-calendar-o
            Ene 11, 2018
          %p.read-more.text-right
            %a{href: "blog_post.html"}Leer más...

      %center.margin-top-50
        %button.btn.btn-link.read-more
          %i.fa.fa-refresh.fa-spin
          &nbsp;Cargar más artículos

= Haml::Engine.new(File.read("app/partials/_scripts.haml")).render
