#user-dates.briefing-section.angle-left-bottom.angle-left-top
  .container
    .row
      .col-md-12.margin-top-35
        .heading.heading-sm.heading-center.heading-hover
          %h6.heading-title Datos Personales
          %h6.heading-title-ghost Datos Personales
          %hr.hr-width-2.hr-5x

          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
            adipisicing elit, sed do eiusmod tempor incididunt ut labore.

      .col-md-6.file-input
        .md-input
          %input.md-form-control{:required => "", :type => "text"}/
          %span.highlight
          %span.bar
          %label Nombre

      .col-md-6.file-input
        .md-input
          %input.md-form-control{:required => "", :type => "text"}/
          %span.highlight
          %span.bar
          %label Email

      .col-md-6.file-input
        .md-input
          %input.md-form-control{:required => "", :type => "text"}/
          %span.highlight
          %span.bar
          %label Teléfono

      .col-md-6.file-input
        .md-input
          %input.md-form-control{:required => "", :type => "text"}/
          %span.highlight
          %span.bar
          %label Compañía/Empresa
