#cta {
  .angle-left-bottom:after  {
    background-color: rgba(0, 7, 10, 0.95) !important;
  }


  .call-to-action-text, .call-to-action-title  {
    @include respond-to(xs) {
      text-align: center;
    };
  }

  .padding-right-40 {
    @include respond-to(xs) {
      padding-right: 15px !important;
    };
  }
}
