#cta {
  .call-to-action-text, .call-to-action-title  {
    @include respond-to(xs) {
      text-align: center;
    };
  }

  .padding-right-40 {
    @include respond-to(xs) {
      padding-right: 15px !important;
    };
  }

  .service-card {
    width: 100%;
    height: 100%;
    background: #fafafa;
    border-radius: 5px;
    min-height: 400px;
    background-size: cover;
    background-position: center;
  }


  .team-box {
    img{
      filter: grayscale(100%);
      transition: all 1s ease;
    }

    &:hover {

      img {
        filter: grayscale(0%);
        transition: all 1s ease;
      }
    }
  }
}
