#keppler {
  background: #fff;

  .heading-title-ghost {
    @include respond-to(xs) {
      display: none;
    };
  }

  hr {
    background: $keppler-color !important;
  }

  input {
    outline: none;
    border: none;
    &:focus, &:active {
      box-shadow: none !important;
      outline: none;
    }
  }

  .heading-title {
    @include respond-to(xs) {
      font-size: 18px;
    };
  }

  .strong {
    font-weight: bold;
  }

  .heading {
    padding-top: 0;
    margin-top: 0;
  }

  header {
    background: $keppler-color;
    height: auto;
    padding: 60px 5px 150px 5px;
    color: #fff;
    font-size: 16px;

    img {
      @include respond-to(lg) {
        width: 20% !important;
      };
    }

    .section-description {
      padding-top: 30px;

      @include respond-to(lg) {
        font-size: 20px;
        };
    }
  }

  #description {
    padding-bottom: 20px;


    li {
      font-size: 14px;
      margin-bottom: 10px;

      @include respond-to(lg) {
        font-size: 18px;
      };
    }

    #next-1 {
      @include respond-to(lg) {
        display: none;
      };
    }
  }

  #user-dates {
    padding: 20px 0;
    z-index: 1000;
    background: #fff;

    #next-2 {
      @include respond-to(lg) {
        display: none;
      };
    }

    .md-form-control {
      background: transparent;
      border-bottom: 1px solid #888;
    }

    .angle-left-bottom:before {
      background: rgba(236, 234, 234, 0.29);
    }

    @include respond-to(lg) {
      padding-top: 100px;
      padding-bottom: 100px;
      background: rgba(236, 234, 234, 0.29);
      font-size: 20px;
    };
  }

  input {
    border-bottom: 1px solid #d2d2d2;
  }

  #domain {
    background: #fff;
    z-index: 1001;

    #have-domain {
      display: none;
    }

    #search-domain {
      background: #eee;
      width: 100%;
      height: 50px;
      border-radius: 25px;
      padding: 10px 35px;
      border: none;
      position: relative;
      outline: none;

      @include respond-to(xs) {
        width: 90%;
        left: 5%;
      };

      input {
        width: 100%;
        border: none;
        background: #eee;
      }
    }

    .fa-search {
      position: absolute;
      top: 13px;
      right: 25px;
      height: 20px;
      width: 20px;
      padding: 0;
      margin: 0;
      border: none;
      background: none;
      outline: none !important;
      cursor: pointer;

      @include respond-to(xs) {
        font-size: 18px;
      };
    }
  }

  #plan {
    background: #fff;
    z-index: 1002;

    #pricing-tables {

      th, td {
        padding: 5px 0;
      }

      th {
        text-align: center;
      }


      .td-image {
        width: 70px;
      }

      .tr-bg-1 {
        background: rgba(0, 0, 0, 0.32);
      }

      .tr-bg-2 {
        background: #070F13 !important;
      }

      .td-text {
        width: 300px;
      }

      img {
        padding-left: 10px;
      }
      @include respond-to(xs) {
        display: none;
      };
    }

    .heading-title {
      color: #fff;
    }
    .price-card {
      width: 100%;
      height: auto;
      position: relative;

      .bordered {
        position: absolute;
        width: 20%;
        height: 100%;
        background: transparent;
        border: 2px dashed $keppler-color;
      }

      .hidden {
        display: none;
      }
      .bordered-starter {
        left: 35%;
      }

      .bordered-enterprise {
        left: 56%;
      }

      .bordered-corporative {
        right: 2%;
      }
      #services {
        .service {
          margin-bottom: 10px;

          img {
            width: 50px;
          }
        }
      }
    }

    #accordion {
      @include respond-to(lg) {
        display: none;
      };
    }

    .heading-title-ghost {
      @include respond-to(lg) {
        font-size: 32px;
      };

    }

    a {
      text-decoration: none;
    }

    .card-header {
      height: 45px;
      background: #fff;

      h5 {
        padding-top: 9px;
        color: $keppler-color;
        font-weight: bold;
        font-size: 14px;
      }

      i {

        color: $keppler-color;
        transition: all ease .3s;
      }
    }

    .card-body {
      padding: 10px;
      color: #333;
      font-size: 12px;
    }
  }

  #more {
    min-height: 400px;
    textarea {
      outline: none;
    }
  }
}
