#services {

  .heading {
    @include respond-to(xs) {
      margin-top: -30px;
      z-index: 1000;
    }
  }
  .angle-right-top:before {
    background-color: rgba(0, 7, 10, 0.95) !important;
  }

  .angle-left-top:before, .angle-right-top:before {
    background-color: rgba(0, 7, 10, 0.95) !important;
  }

  .angle-left-top {
    padding: 90px;

    @include respond-to(xs) {
      padding: 45px 0px;
      padding-bottom: 100px;
    }
  }

  hr {
    padding-bottom: 50px;

    @include respond-to(xs) {
      padding-bottom: 0px;
    }
  }

  .service-card {
    width: 100%;
    height: 100%;
    background: #fafafa;
    border-radius: 5px;
    min-height: 400px;
    background-size: cover;
    background-position: center;
  }


  .team-box {
    img{
      filter: grayscale(100%);
      transition: all 1s ease;
    }

    &:hover {

      img {
        filter: grayscale(0%);
        transition: all 1s ease;
      } 
    }
  }
}
