body {
  background: #fff !important;
}
#web {
  padding-bottom: 40px;

  header {
    height: 90vh;
    background-position: center 0px;
    background-size: cover;
    background-attachment: fixed;
  }

  .scroll-down-arrow {
    cursor: pointer;
  }

  #plan {
    background: #fff;
    z-index: 1002;

    #pricing-tables {

      th, td {
        padding: 5px 0;
      }

      th {
        text-align: center;
      }


      .td-image {
        width: 70px;
      }

      .tr-bg-1 {
        background: rgba(0, 0, 0, 0.32);
      }

      .tr-bg-2 {
        background: #070F13 !important;
      }

      .td-text {
        width: 300px;
      }

      img {
        padding-left: 10px;
      }
      @include respond-to(xs) {
        display: none;
      };
    }

    .heading-title {
      color: #fff;
    }
    .price-card {
      width: 100%;
      height: auto;
      position: relative;

      .bordered {
        position: absolute;
        width: 20%;
        height: 100%;
        background: transparent;
        border: 2px dashed $keppler-color;
      }

      .hidden {
        display: none;
      }
      .bordered-starter {
        left: 35%;
      }

      .bordered-enterprise {
        left: 56%;
      }

      .bordered-corporative {
        right: 2%;
      }
      #services {
        .service {
          margin-bottom: 10px;

          img {
            width: 50px;
          }
        }
      }
    }

    #accordion {
      @include respond-to(lg) {
        display: none;
      };
    }

    .heading-title-ghost {
      @include respond-to(lg) {
        font-size: 32px;
      };

    }

    a {
      text-decoration: none;
    }

    .card-header {
      height: 45px;
      background: #fff;

      h5 {
        padding-top: 9px;
        color: $keppler-color;
        font-weight: bold;
        font-size: 14px;
      }

      i {

        color: $keppler-color;
        transition: all ease .3s;
      }
    }

    .card-body {
      padding: 10px;
      color: #333;
      font-size: 12px;
    }
  }

  #domain-plan {
    background: #fff;
    z-index: 1002;

    #pricing-tables {

      th, td {
        padding: 5px 0;
      }

      th {
        text-align: center;
      }


      .td-image {
        width: 70px;
      }

      .tr-bg-1 {
        background: rgba(0, 0, 0, 0.32);
      }

      .tr-bg-2 {
        background: #070F13 !important;
      }

      .td-text {
        width: 300px;
      }

      img {
        padding-left: 10px;
      }
      @include respond-to(xs) {
        display: none;
      };
    }

    .heading-title {
      color: #fff;
    }
    .price-card {
      width: 100%;
      height: 500px;
      position: relative;

      .bordered {
        position: absolute;
        width: 15%;
        height: 100%;
        background: transparent;
        border: 2px dashed $e-commerce-color;
        right: 10px;
      }
      #services {
        .service {
          margin-bottom: 10px;

          img {
            width: 50px;
          }
        }
      }
    }

    #accordion {
      @include respond-to(lg) {
        display: none;
      };
    }

    .heading-title-ghost {
      @include respond-to(lg) {
        font-size: 32px;
      };

    }

    a {
      text-decoration: none;
    }

    .card-header {
      height: 45px;
      background: #fff;

      h5 {
        padding-top: 9px;
        color: $e-commerce-color;
        font-weight: bold;
        font-size: 14px;
      }

      i {

        color: $e-commerce-color;
        transition: all ease .3s;
      }
    }

    .card-body {
      padding: 10px;
      color: #333;
      font-size: 12px;
    }
  }
}
